*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(33, 26, 138);
    
}

body{
    max-width:  1170px;
    margin: 0 auto;
}
p{
    line-height: 1.5;
}
header{
    display: flex;
    justify-content: space-between;
    height: 500px;
}
.header__img{
    position: relative;
    
    
}
.header__about{
    align-self: center;
    margin-right: 70px;
}

 img{
    position: absolute;
    height: 480px;
    top: 25px;
}
.line{
    background-color: rgb(33, 26, 138);
    max-width: 100%;
    height: 2px;
    margin-left: 430px;
}
    